@font-face {
  font-family: 'InputMono';
  font-weight: 400;
  src: url('../../fonts/InputMono-Regular.woff');
}
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #ffffff;
  /*overflow: hidden;*/
}
body {
  font-family: 'InputMono';
  font-weight: 400;
  font-size: 100%;
  position: relative;
  width: 100%;
  background: #000000;
}
body input,
body textarea {
  -moz-user-select: text;
  -o-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
      user-select: text;
  resize: none;
}
a {
  text-decoration: none;
}
input[type=text] {
  border-radius: 0 !important;
  -webkit-appearance: none !important;
}
.main {
  min-height: 100%;
  position: relative;
}
.container {
  width: 100%;
  max-width: 540px ;
  padding: 70px;
}
.container.relative {
  position: relative;
}
/*Colors*/
a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  /* color: inherit; */
}
* {
  outline: none;
}
.index {
  position: relative;
}
.index .title-block-hello {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.index .contact-list {
  margin: 40px 0 70px;
  font-size: 0;
}
.index .contact-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.index .contact-list li:first-child {
  margin-left: 0;
}
.index .contact-list li:first-child a:before {
  display: none;
}
.index .contact-list li a {
  color: #3ED1FF;
  transition: all .3s;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}
.index .contact-list li a:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -11px;
  width: 3px;
  height: 3px;
  background-color: #595959;
}
.index .contact-list li a:after {
  content: '';
  position: absolute;
  border-bottom: 1px dashed transparent;
  left: 0;
  bottom: -5px;
  width: 100%;
  transition: all .3s;
}
.index .contact-list li a:hover:after {
  border-bottom: 1px dashed #3ED1FF;
  bottom: 2px;
  opacity: .5;
}
.index .works-block .works-block-title {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #595959;
  margin-bottom: 40px;
}
.index .works-block .works-block-list {
  font-size: 0;
}
.index .works-block .works-block-list li {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 50px);
  margin: 0 50px 100px;
}
.index .works-block .works-block-list li:nth-child(odd) {
  margin-left: 0;
}
.index .works-block .works-block-list li:nth-child(even) {
  margin-right: 0;
}
.index .works-block .works-block-list li img {
  width: 100%;
}
.index .works-block .works-block-list li .works-item-title {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  margin-top: 20px;
  margin-bottom: 3px;
}
.index .works-block .works-block-list li .works-item-desc {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #828282;
}
.index .works-block .works-block-list li .works-item-link {
  margin-top: 20px;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3ED1FF;
  position: relative;
}
.index .works-block .works-block-list li .works-item-link:after {
  content: '';
  position: absolute;
  top: 6px;
  right: -16px;
  width: 11px;
  height: 8px;
  background: url("../../img/arrow-icon.svg") no-repeat center center;
  background-size: cover;
  transition: all .3s;
}
.index .works-block .works-block-list li .works-item-link:hover:after {
  right: -20px;
}
.index .pulser {
  width: 150px;
  height: 150px;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  mix-blend-mode: screen;
  background: green;
  position: absolute;
  animation: filtered 10000ms 0ms infinite alternate linear;
  will-change: filter, transform;
}
.index .some-animation {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(25px, -25px);
}
@keyframes filtered {
  0% {
    filter: hue-rotate(0deg) blur(150px);
  }
  100% {
    filter: hue-rotate(360deg) blur(80px);
  }
}
@media screen and (max-width: 680px) {
  .container {
    box-sizing: border-box;
    padding: 70px 30px;
  }
}
@media screen and (max-width: 490px) {
  .index .works-block .works-block-list li {
    width: 100%;
    max-width: 260px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .index .contact-list li a {
    font-size: 10px;
  }
}
